<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechnologyApp"
        tools:targetApi="31">
        <activity
            android:name="feedback_name"
            android:exported="false" />
        <activity
            android:name=".Automation"
            android:exported="false" />
        <activity
            android:name=".Data_science"
            android:exported="false" />
        <activity
            android:name=".Robotics"
            android:exported="false" />
        <activity
            android:name=".Machine_learning"
            android:exported="false" />
        <activity
            android:name=".Android_knowledge"
            android:exported="false" />
        <activity
            android:name=".Artificial_intelligence"
            android:exported="false" />
        <activity
            android:name=".CardViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>